<section class="mt-5">
    <div class="container mb-5 bg-theme">
        <h1 class="text-white text-center"> Terms & Conditions </h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>This is dummy about us content added by admin at the start of the development</p>
            <p>This is dummy about us content added by admin at the start of the development</p>
            <p>This is dummy about us content added by admin at the start of the development</p>
            <p>This is dummy about us content added by admin at the start of the development</p>
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4"> Back To Home </button>
            </div>
        </div>
    </div>
</section>