<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-logo">ANG-BLOG</div>
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a routerLink="" class="nav-link">Home</a></li>
                    <li class="nav-item"><a routerLink="/about" class="nav-link">About</a></li>
                    <!-- <li class="nav-item"><a routerLink="" class="nav-link">Terms & Conditions</a></li> -->
                    <li class="nav-item"><a routerLink="/contact" class="nav-link">Contact</a></li>
                </ul>
            </div>
        <p class="mb-2 mt-2 text-center">Copyright Angular Blogsite</p>
        </div>
    </div>
</footer>
