.featured-section{
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 40px;
    background-color: var(--primary-color);
    min-height: 715px;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.post-card {
  min-width: 250px; /* adjust card width */
  flex: 0 0 auto;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}
